In [1]:
import pandas as pd

In [3]:
lr_results = pd.read_csv('xgbtrial_sum_med_keyword.csv')
xgb_results = pd.read_csv('xgbtrial_rounding.csv')

In [4]:
newresults = pd.DataFrame({'lr_response': lr_results.Response.values, 
                          'xgb_response': xgb_results.Response.values})

In [5]:
newresults['Response'] = newresults.sum(axis=1)

In [6]:
newresults.head()

   lr_response  xgb_response  Response
0            3             2         5
1            6             5        11
2            5             5        10
3            6             4        10
4            6             4        10

In [7]:
newresults['Response'] = newresults.Response.apply(lambda x: int(round(x/2)))

In [8]:
newresults.head()

   lr_response  xgb_response  Response
0            3             2         2
1            6             5         5
2            5             5         5
3            6             4         5
4            6             4         5

In [9]:
newresults.drop('lr_response', axis=1, inplace=True)

In [10]:
submission_comb = pd.DataFrame({'Id': lr_results.Id, 'Response': newresults.Response})

In [11]:
submission_comb.head()

   Id  Response
0   1         2
1   3         5
2   4         5
3   9         5
4  12         5

In [12]:
submission_comb.to_csv('submission_comb.csv', index=False)